@charset "utf-8";
/* CSS Document */
/* common */
html,body { position:relative; height:100%; }
/**滚动条默认显示样式**/
html ::-webkit-scrollbar-thumb{ background-color:#566bfc; height:50px; outline-offset:-2px; outline:2px solid #ffab60; -webkit-border-radius:4px; border: 2px solid #ffab60;}
/**鼠标点击滚动条显示样式**/
html ::-webkit-scrollbar-thumb:hover{ background-color:#666; height:50px; -webkit-border-radius:4px; }
/**滚动条大小**/
html ::-webkit-scrollbar{ width:8px; height:8px; }
/**滚动框背景样式**/
html ::-webkit-scrollbar-track-piece{ background-color:#ffab60; }
* { margin:0; padding:0; list-style:none; box-sizing:border-box; }
body { font-size:14px; color:#222; font-family: 'Franklin Gothic Medium', 'Trebuchet MS', 'Roboto', Helvetica, Arial, "HiraKakuProN-W3", Meiryo, sans-serif; }
.fl , .left { float:left; }
.fr , .right { float:right; }
.none,.hide { display:none; }
.block { display:block; }
img { border:0; vertical-align:top; }
.red { color:red; }
.green { color:green; }
.blue { color:#4e99ff; }
.gray,.C9 { color:#999; }
.bold { font-weight:bold; }
.white { color:#fff; }
.purple { color:purple; }
.clear { clear:both; }
.highlight,.CF { color:#FFF; background:red; padding:1px; }
.clear,.clearfix { clear:both; }
.clearfix:after, .clearfix:before { display:table; content:''; clear:both; }
.color { color:#155bd4; }
.black,.C0 { color:#000; }
.C1 { color:#111; }
.C2 { color:#222; }
.C3 { color:#333; }
.C4 { color:#444; }
.C5 { color:#555; }
.C6 { color:#666; }
.C9 { color:#666; }
.pointer { cursor: pointer; }
/* a */
a { color:#222; text-decoration:none; -o-transition:all .35s; -moz-transition:all .35s; -webkit-transition:all .35s; -ms-transition:all .35s; transition:all .35s; }
a:visited { }
a:active, a:hover { text-decoration:none; color:#155bd4; }

a:focus { outline:none; }
p { line-height:22px; }
h1,h2,h3,h4,h5,h6 { font-weight:normal; letter-spacing:1px; }
:focus { outline:0; text-decoration:none; }
a:focus {outline:0; text-decoration:none; color:#155bd4; }
span,i,em,big,small,b,strong { font-size:inherit; font-weight:normal; font-style:normal; }
/**纯flex**/
.flex { display: flex; justify-content: space-between; }
/**单行，普通flex布局，上下居中，左右居中**/
.Flex { display:flex; -webkit-box-pack:center; justify-content:center; align-items:center; }
/**多行多列flex**/
.Flex[tag='MULTI'] { flex-wrap:wrap; justify-content: flex-start; align-items: flex-start; }
/**单行多列，靠左上对齐**/
.Flex[tag='LT'] { align-items:flex-start; justify-content: flex-start; }
.Flex[tag='RT'] { align-items:flex-end; justify-content: flex-end; }
/**单行，两端对齐，文字居中对齐**/
.Flex[tag='SE'] { justify-content:space-between; -webkit-justify-content:space-between; }
/**单行，靠左对齐，文字居中对齐**/
.LFlex { display:flex; -webkit-box-pack:center; justify-content:flex-start; align-items:center; }
/**单行，靠右对齐，文字居中对齐**/
.RFlex { display:flex; -webkit-box-pack:center; justify-content:flex-end; align-items:center; }
/**多行，上下居中，文字居中对齐**/
.MFlex { display:flex; -webkit-box-pack:center; justify-content:center; align-items:center; flex-direction:column; -webkit-flex-direction:column; text-align:center; }
/**多行，顶端对齐，文字居中对齐**/
.MFlex[tag='TM']  { justify-content:flex-start; }
/**多行，靠左对齐，文字居中对齐**/
.MFlex[tag='LM']  { align-items:flex-start; }
/**多行，靠右对齐，文字居中对齐**/
.MFlex[tag='RM']  { align-items:flex-end; -webkit-align-items:flex-end; }
.TMFlex { display:flex; -webkit-box-pack:center; justify-content:center; align-items:flex-start; }
.SL { overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.DL { overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:2; -webkit-box-orient:vertical; }
.TL { overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:3; -webkit-box-orient:vertical; }
.FL { overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:4; -webkit-box-orient:vertical; }
.YScroll { overflow:hidden; overflow-y:auto; -webkit-overflow-scrolling:touch; overflow-scrolling:touch; }
.XScroll { overflow:hidden; overflow-x:auto; -webkit-overflow-scrolling:touch; overflow-scrolling:touch; }
article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{ display:block; }

header { padding:0 22% 0 8.3%; height:20rem; position:relative; z-index:2; }
header .logo { height:100%; font-size:5.6rem; }
header nav { height:100%; }
header nav li { height:100%; position:relative; margin:0 0 0 6rem; font-size:3.4rem; }
header nav li:hover, header nav li.select { font-weight:bold; }
header nav li:hover:before, header nav li.select:before { position:absolute; left:50%; bottom:6.6rem; height:1rem; width:2.6rem; background:#32c5ff; content:''; margin:0 0 0 -1.3rem; }

.banner { position:relative; z-index:1; margin:-20rem 0 0; padding:20rem 0 0; }
.banner .bg { width:100%; position:absolute; height:100%; left:0; top:0; z-index:1; }
.banner .bg img { width:100%; height:100%; object-fit:contain; }
.banner h2 { position:relative; z-index:2; margin:12rem 0 0; height:16rem; font-size:11rem; font-weight:bold; }
.banner h2 i { color:#32c5ff; margin:0 2rem 0 4rem; }
.banner h3 { position:relative; z-index:2; height:16rem; font-size:11rem; font-weight:bold; }
.banner h4 { position:relative; z-index:2; margin:10rem 0 0; line-height:4.6rem; font-size:3.6rem; width:50%; }

.service { position:relative; padding:4.4rem 14.58% 0; background-image:url("../images/service_bg.png"); background-position:left top; background-repeat: repeat-y; background-size:100% auto; }
.service .topBg { position:absolute; left:0; top:0; width:100%; height:auto; z-index:1; }
.service .topBg img { width:100%; height:auto; }
.service .btn { height:8rem; width:32rem; color:#fff; font-size:4.6rem; margin:0 auto; position:relative; background:#32c5ff; border-radius: 1.2rem; z-index:2; }
.service h2 { margin:33.2rem 0 0; line-height:8.8rem; font-size:11rem; padding:0 0 0 3rem; z-index:2; position:relative; font-weight:bold; }
.service h3 { margin:15.6rem 0 0 16rem; line-height:9.8rem; font-size:8rem; z-index:2; position:relative; font-weight:bold; }
.service ul { z-index:2; position:relative; }
.service dl { margin:11.2rem 0 0; height:27rem; }
.service dt { width:16rem; height:100%; }
.service dt img { width:8.5rem; height:auto; }
.service dd { width:calc(100% - 32rem); background:#f5f5f6; height:100%; padding:0 4rem; position:relative; }
.service dd i { font-size:5rem; font-weight:bold; }
.service dd b { font-size:3.6rem; text-align:left; margin:2rem 0 0; }
.service dd:before { position:absolute; top:50%; margin:-2.7rem 0 0; z-index:1; height:0; content:''; width:0; border:2.7rem solid transparent; }
.service dl.LFlex dd:before {  border-right:2.7rem solid #f5f5f6; left: -5.3rem; }
.service dl.RFlex { flex-flow:row-reverse; }
.service dl.RFlex dd { margin:0 0 0 16rem; }
.service dl.RFlex dd:before { border-left:2.7rem solid #f5f5f6; right: -5.3rem; }
.service .bottomBg { position:absolute; left:0; bottom:0; width:100%; height:auto; z-index:1; }
.service .bottomBg img { width:100%; height:auto; }

.features { position:relative; padding:11.2rem 14.58% 0; background-image:url("../images/features_bg.png"); background-position:left top; background-repeat: repeat-y; background-size:100% auto; }
.features .topBg { position:absolute; left:0; top:0; width:100%; height:auto; z-index:1; }
.features .topBg img { width:100%; height:auto; }
.features h2 { line-height:9.6rem; font-size:11rem; padding:0 0 0 3rem; z-index:2; position:relative; font-weight:bold; }
.features .title { margin:15rem 0 0; z-index:2; position:relative; }
.features .title h3 { height:14.7rem; }
.features .title h3 i { font-weight:bold; font-size:24rem; line-height:14.7rem; margin: 9rem 0 0; }
.features .title h3 b { font-weight:bold; font-size:8rem; margin:0 10rem; }
.features .title h4 { margin:0 18.5rem; line-height:5.4rem; font-size:4.2rem; }
.features ul { margin:3.3rem 0 0; }
.features dl { width:calc(100% / 3 - 8rem); margin:0 4rem; position:relative; }
.features dt { width:13rem; height:13rem; background:#fff; border-radius:100%; padding:1.3rem; position:relative; z-index:2; }
.features dt img { width:100%; height:100%; border-radius:100%; }
.features dd { background:#f5f5f6; position:relative; width:100%; margin:-6.5rem 0 0; height:43rem; padding:6.5rem 0 0; }
.features dd i { font-size:5rem; font-weight:bold; line-height:9rem; }
.features dd b { font-size:3.6rem; text-align:center; margin:2rem 6rem 0; }

.works { position:relative; padding:21rem 14.58% 9.2rem; background-image:url("../images/works_bg.png"); background-position:left top; background-repeat: repeat-y; background-size:100% auto; }
.works .topBg { position:absolute; left:0; top:0; width:100%; height:auto; z-index:1; }
.works .topBg img { width:100%; height:auto; }
.works h2 { line-height:9.6rem; font-size:11rem; padding:0 0 0 3rem; z-index:2; position:relative; font-weight:bold; }
.works .content { padding:20.4rem 12.6rem 0 3rem; position:relative; z-index:2; align-items: flex-start; }
.works .content .L { width:60rem; text-align:left; }
.works .content .L i { font-weight:bold; font-size:24rem; height:8rem; position:relative; top:-8rem; }
.works .content .L b { line-height:9.8rem; font-size:8rem; font-weight:bold; }
.works .content .L em { line-height:5rem; font-size:4.2rem; margin:1.5rem 0 0; }
.works .content ul { width:98rem; }
.works .content ul dl { margin:0 0 8rem; height:22.4rem; }
.works .content ul dt { width:16rem; height:100%; }
.works .content ul dt img { width:8.3rem; height:8.3rem; }
.works .content ul dd { height:100%; width:calc(100% - 16rem); background:#f5f5f6; padding:0 3.2rem; text-align:left; }
.works .content ul dd i { font-size:5rem; font-weight:bold; }
.works .content ul dd b { font-size:3.6rem; margin-top:2rem; }
.works .bottomBg { position:absolute; left:0; bottom:0; width:100%; height:auto; z-index:1; }
.works .bottomBg img { width:100%; height:auto; }

.embrace { padding:35.6rem 0 51.7rem; position:relative; }
.embrace h2 { line-height:9.6rem; font-size:11rem; z-index:2; position:relative; font-weight:bold; margin:0 0 12.8rem; }
.embrace .btn { height:8rem; width:32rem; color:#fff; font-size:4.6rem; margin:0 auto; position:relative; background:#32c5ff; border-radius: 1.2rem; z-index:2; }
.embrace .bottomBg { position:absolute; left:0; bottom:0; width:100%; height:auto; z-index:1; }
.embrace .bottomBg img { width:100%; height:auto; }

footer { padding:0 8.3%; height:24rem; color:#fff; font-size:4.6rem; background:#000; }