<!doctype html>
<html lang="en">
  <head>
    <% if (!!env.VITE_GTM_ID) { %>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          'gtm.start': new Date().getTime(),
          event: 'gtm.js',
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', '<%= env.VITE_GTM_ID %>');
    </script>
    <!-- End Google Tag Manager -->
    <% } %> <% if (env.VITE_ALLOW_SEARCH_ENGINES !=='true' ) { %>
    <meta name="robots" content="noindex" />
    <% } %>
    <meta name="environment" content="<%= env.VITE_ENV %>" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.cdnfonts.com/css/arial-2" rel="stylesheet" />
    <link
      href="https://fonts.cdnfonts.com/css/helvetica-neue-55"
      rel="stylesheet"
    />

    <title>OpenAD </title>

    <script type="module">
      import { Buffer } from 'buffer';
      import process from 'process';
      window.global = window;
      window.Buffer = Buffer;
      window.process = process;
    </script>
  </head>

  <body>
    <% if (!!env.VITE_GTM_ID) { %>
    <!-- Google Tag Manager -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=<%= env.VITE_GTM_ID %>"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe>
    </noscript>
    <!-- End Google Tag Manager -->
    <% } %>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
